body {background-color: black;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color:rgb(255, 255, 255);
}

.center2 {
 text-align: center;
}
ul {color: rgb(255, 253, 253);}

a {color:white;
    text-decoration: none;
    margin-top: 0px;
    font-size: medium;}

nav li{
    display: inline-block; 
    margin-inline: 0 0 15px;

}
nav a{text-transform: uppercase;}

nav img{
    width: 150px;
    height: 150px;
    border-radius: 30%;

}
img {
    width: 150px;
    height: 150px;
    border-radius: 30%;
}
.pro2{
    width: 940px ;
    margin: 0 auto;
    padding: 50px 0;

}
.pro2 li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1,5;
    padding: 30px 0;
    box-sizing: border-box;
    border: 2px solid white;
}